# Python
.venv/
__pycache__/
.pytest_cache/
*.pyc

# Environment
.env
.env.*
!.env.example

# VS Code
.vscode/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.tfstate.lock.info

# Terraform crash logs
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# OS
.DS_Store
Thumbs.db